html{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    max-height: 100vh;
    overflow-y: scroll;
    border: 1px solid gray;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}

li{
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

